<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Resfi - Restaurant Finder Apps" />
    <meta
      name="description"
      content="Search best restaurant and food near you"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://resfi.vercel.app/" />
    <meta property="og:title" content="Resfi - Restaurant Finder Apps" />
    <meta
      property="og:description"
      content="Explore the best restaurant near you"
    />
    <meta
      property="og:image"
      content="https://resfi.vercel.app/images/hero-image.jpg"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://resfi.vercel.app/" />
    <meta property="twitter:title" content="Resfi - Restaurant Finder Apps" />
    <meta
      property="twitter:description"
      content="Explore the best restaurant near you"
    />
    <meta
      property="twitter:image"
      content="https://resfi.vercel.app/images/hero-image.jpg"
    />
    <title>Resfi - Restaurant Finder Apps</title>
  </head>
  <body>
    <a href="#content" id="skipToContent">Skip to Content</a>
    <header>
      <nav class="container px-1">
        <section class="nav__brand">
          <a href="/" class="flex align-center">
            <img src="./images/logo.svg" alt="logo resfi" />
            <h1>Resfi</h1>
          </a>
          <button class="nav__toggler" aria-label="show navigation list">
            <span class="nav__toggler-icon"></span>
            <span class="nav__toggler-icon"></span>
            <span class="nav__toggler-icon"></span>
          </button>
        </section>
        <section class="nav__list">
          <ul>
            <li class="nav__list-item active">
              <a href="/#" class="">Home</a>
            </li>
            <li class="nav__list-item">
              <a href="/#favorite" class="">Favorite</a>
            </li>
            <li class="nav__list-item">
              <a
                href="https://www.linkedin.com/in/tryoasnafi/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >About Us
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <main>
      <div class="jumbotron" tabindex="0">
        <h2 class="greeting">Welcome to Resfi</h2>
        <p class="tagline">How hungry are you today?</p>
      </div>
      <section id="content" class="container px-1">
        <h3 tabindex="0">Explore Restaurant</h3>
        <hr />
        <restaurant-list></restaurant-list>
        <h3 tabindex="0">Recommended Food</h3>
        <hr />
        <food-list></food-list>
      </section>
    </main>
    <footer>
      <p class="copyright" tabindex="0">
        Copyright &copy; 2022 Resfi. Developed By Tryo Asnafi.
      </p>
    </footer>
  </body>
</html>
